@import '../../../styles/variables.scss';

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 200px;
  border-left-width: 5px;
  border-left-style: solid;
  box-sizing: border-box;
  .content {
    max-height: 300px;
    overflow-wrap: break-word;
    overflow-y: auto;
  }
  .action {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $quantum / 2;
    .result {
      padding: 0 8px;
    }
  }
}