@import '../../../styles/variables.scss';

.note {
  flex: 1;

  min-width: 200px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  box-sizing: border-box;
  .content {
    max-height: 300px;
    overflow-y: auto;
  }
  .action {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
}